body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  box-sizing: border-box;
}

:root{
  --mainPink: hsla(0deg, 50%, 85%, 1);
  --mainGreen: green;
  --mainBlue: blue;
  --mainYellow: yellow;
}

a {
  text-decoration: none;
}

a:visited{
  color: black;
}