body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  box-sizing: border-box;
}

:root{
  --mainPink: hsla(0, 50%, 85%, 1);
  --mainGreen: hsl(120, 50%, 85%);
  --mainBlue: hsl(192, 50%, 80%);
  --mainYellow: hsl(59, 50%, 80%);
  --mainBlack: hsla(0, 0%, 0%, 0.5);
  --mainGrey: hsla(0, 0%, 50%, 0.5);
  --mainRed: rgba(255, 0, 0, 0.3);
  --mainWhite: hsl(0, 0%, 90%);
}

a {
  text-decoration: none;
}

a:visited{
  color: black;
}